---
layout: page
title: Tags
permalink: /Tags/
---
<ul class="tag-cloud-ul">
{% for tag in site.tags %}  
    <a href="#{{ tag | first | slugize }}" class="post-tags">
      {{ tag | first }}
    </a>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h2 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <ul class="archive-item-ul">
		<li><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a> <small class="post-date">{{ post.date | date: "%b %-d, %Y" }}</small></li>
    </ul>
    {% endfor %}
  </div>
{% endfor %}
</div>